# ==== Domain =====
DOMAIN_NAME=mcuesta-.42.fr

# ==== MariaDB configuration ====
MYSQL_ROOT_PASSWORD=/run/secrets/mysql_root_password
MYSQL_DATABASE=wordpress_db
MYSQL_USER=wp_user
MYSQL_PASSWORD=/run/secrets/mysql_password

# ==== Wordpress Configuration ====
WP_TITLE=Inception
WP_ADMIN_USER=supervisor
WP_ADMIN_EMAIL=supervisor@mcuesta.42.fr
WP_ADMIN_PASSWORD=/run/secrets/wp_admin_password

WP_USER=student
WP_USER_PASSWORD=/run/secrets/wp_user_password
WP_USER_EMAIL=student@mcuesta.42.fr

# ==== FTP Configuration =====
FTP_USER=mcuesta-
FTP_PASSWORD=/run/secrets/ftp_password

# ==== Portainer Configuration ====
PORTAINER_USER=mcuesta-
PORTAINER_PASSWORD=/run/secrets/portainer_password